@font-face {
	font-family: 'Gagalin';
	src: url('Gagalin-Regular.eot');
	src: local('Gagalin Regular'), local('Gagalin-Regular'),
		url('Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
		url('Gagalin-Regular.woff') format('woff'),
		url('Gagalin-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;  
    font-weight: 700; 
    background-color: #FFF3ED;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #FFDEBC;
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: #FFDEBC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    margin: 0; /* Important for vertical align on mobile phones */
    text-decoration: none;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FFF3ED;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFDEBC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
#top-container{
  padding:25px 100px;
  text-align: left;
  background-color: #FFDEBC;
  height: 200px;
}

.titulo{
  color: #7D3614;;
  margin: 0px;
  font-family: Gagalin;
  font-size: 5rem;
  width: 30%;
  float: left;
}

.encabezado{
  width: 500px;
  margin-left: 500px;
  height: 100px;
  margin-top: 50px;
}