@font-face {
	font-family: 'Gagalin';
	src: url('Gagalin-Regular.eot');
	src: local('Gagalin Regular'), local('Gagalin-Regular'),
		url('Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
		url('Gagalin-Regular.woff') format('woff'),
		url('Gagalin-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media (max-width: 768px){
  .resume{
    display: none;
  }
}

body{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 600;
  background-color: #FDF6F6;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #5D534A;
}

#navbar a {
  float: left;
  display: block;
  color: #FDF6F6;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#navbar a:hover{
  background-color: #FDF6F6;
  color: #5D534A;
}

table{
  margin-top: 20px;
  background-color: #FDF6F6  ;
  width: 100%;
}


.title{
  font-family: Gagalin;
  font-size: 4rem;
  color: #5D534A;
  margin: 0 auto 0 auto;
  width: 40%;
}

.resume{
  width: 20%;
  margin: 0 auto 0 auto;
}